/* Give your page a fun background color */
body {
  background-color: rgb(143, 161, 179);
  margin: 0px;
}
/* Make the header and footer a different color from the background */
header, footer {
  background-color: darkorange;
  padding: 1%;
} 
/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
  margin: 0px;
}
/* Make your p tag a different color and italic */
p {
  color: white;
  font-style: italic;
}
/* Put a border around your image */
img {
  border: 5px solid white;
  border-radius: 20%;
  width: 20%;
  margin: 1%;
}
/* Change the font-family of your list */
ul{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 10%;
}